@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: black;
  text-align: center;
  padding: 20px;
}

button,input {
  color: rgba(255, 255, 255, 0.8);
  background: #327994;
  padding: 3%;
  margin: auto;
  border-radius: 18px;
  transition: 0.5s;
}

input:hover {
  color: black;
  box-shadow: 0 15px 35px #327994;
}
button:hover {
  color: black;
  box-shadow: 0 15px 35px #327994;
}

.bg-sunny {
  background-image: url('https://img.freepik.com/premium-vector/day-sun-weather-app-screen-mobile-interface-design-forecast-weather-background-time-concept-vector-banner_87946-3972.jpg?w=2000'); 
  background-size: cover;
  color: rgb(14, 21, 59);

}

.bg-rainy {
  background-image: url('https://media.istockphoto.com/id/503284599/photo/rainy-weather.jpg?s=170667a&w=0&k=20&c=vk3Sf9Ao145LqXffGGe-TIJ52pO7FfYmlDAprwV6_m0='); 
  background-size: cover;
  color: white;

}
.bg-cloud {
  background-image: url('https://img.freepik.com/premium-photo/asphalt-track-road-with-stormy-dark-sky-background-empty-track-with-black-clouds_247739-179.jpg'); 
  background-size: cover;
  color: black;
}
.bg-fog {
  background-image: url('https://cdn.forumcomm.com/dims4/default/8ea2074/2147483647/strip/true/crop/5080x3387+0+7/resize/840x560!/quality/90/?url=https%3A%2F%2Fforum-communications-production-web.s3.us-west-2.amazonaws.com%2Fbrightspot%2F6b%2F1a%2Fb4eec0f94f988f3c86eaa8d237c3%2Ffoggy-weather-110922-001.jpg'); 
  background-size: cover;
  color: black;
}
